<template bindable="poll-id">
    <require from="../donut-chart/donut-chart-component"></require>

    <donut-chart-component
        chart-data.bind="choices"
        style="width: 80%; display: block; margin: 10%"
    ></donut-chart-component>
    <div>
        <button repeat.for="choice of choices"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
            click.trigger="vote(choice.id)"
        >${choice.id}</button>
    </div>

    <!-- admin actions -->
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
        id="settings-${pollId}">
        <i class="material-icons">settings</i>
    </button>
    <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect"
        for="settings-${pollId}"
    >
        <li click.delegate="reset()">reset</reset>
        <li click.delegate="delete()">delete</reset>
    </ul>
</template>
