<template bindable="poll">
    <require from="../donut-chart/donut-chart-component"></require>

    <div class="mdl-card__title mdl-card--border">
        <h2 class="mdl-card__title-text">${poll.name}</h2>
    </div>
    <div>
        <donut-chart-component
            color.bind="color"
            chart-data.bind="poll.options"
            style="width: 80%; display: block; margin: 10%"
        ></donut-chart-component>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <button repeat.for="option of poll.options"
            class="mdl-button mdl-js-button mdl-js-ripple-effect"
            click.trigger="vote(poll, option.id)"
            disabled.bind="!poll.id"
            style.bind="getBgStyle(option.id)"
            style="margin: 2px; color: white"
        >${option.name}</button>

        <!-- admin actions -->
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
            id.bind="'settings-' + poll.id"
            if.bind="poll.id">
            <i class="material-icons">settings</i>
        </button>
        <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--top-left"
            data-mdl-for.bind="'settings-' + poll.id">
            <li class="mdl-menu__item"
                click.delegate="reset(poll)"
            >reset</reset>
            <li class="mdl-menu__item"
                click.delegate="remove(poll)"
            >delete</reset>
        </ul>
    </div>
</template>
